/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Generics */

body {
    font-family: 'Open-Sans' , sans-serif;
}

header {
    height: 80px;
    background-color: #ffffff;
}

h1 {
    margin-bottom: 50px;
    font-size: 60px;
    font-weight: 800;
}

footer {
    background-color: black;
}

img {
    max-width: 100%;
    display: block;
}

#navbar-head ul {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
}


ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

p {
   line-height: 25px;
}

h2 {
    font-size: 45px;
    font-weight: 600;
}

h4 {
    font-size: 28px;
    margin-bottom: 20px;
}

h6 {
    font-size: 15px;
    margin-bottom: 10px;
}

h5 {
    font-weight: 700;
}

address {
    color: gray;
}

/* Utils */

.container-big {
    max-width: 1200px;
    margin: 0 auto;
}

.container-small {
    max-width: 1080px;
    margin: 0 auto;
}

.container-cards {
    max-width: 200px;
    margin: 0 auto;
}

.border {
    border: gray 0.1px solid;
}

.pdg-int {
    padding: 30px 20px;
}

.pdg-top {
    padding-top: 50px;
}

.pdg-left {
    padding-left: 30px;
}
/* Buttons */

.btn {
    padding: 10px 15px;
    color: whitesmoke;
    background-color: #0061fe;
    display: inline-block;
}

.btn.btn-big {
    padding: 10px 50px;
}

.btn.b-bigger {
    padding: 10px 105px;
}
.btn.white {
    color: black;
    background-color: whitesmoke;
    border: black 1px solid;
}

.radio-check {
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: #0061fe 5px solid;
    vertical-align: middle;
}

.radio {    
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: gray 1px solid;
    vertical-align: middle;
}

.decoration {
    text-decoration: underline;
    color: #4c329d;
}


/* Layout */

.row {
    display: flex;
    flex-wrap: wrap;
    
}
.row.row-grow {
    gap: 40px;
    justify-content: flex-start;
}

.card {
    flex-basis: calc(100% / 3);
}

.m-btm {
    margin-bottom: 50px;
}

.m-top{
    margin-top: 150px;
}

.m-right {
    margin-right: 50px;
}

.brd-btm {
    padding-bottom: 30px;
    border-bottom: gray 0.3px solid;
}


.row-grow {
    flex-grow: 1;
}

.row > .col-30 {
    flex-basis: 30%;
}

.row > .col-70 {
    flex-basis: 70%;
}

.row > .col-33 {
    flex-basis: calc(100% / 3 - 80px / 3);
}

.row > .col-60{
    flex-basis: 60%;
}

.row > .col-40 {
    flex-basis: 40%;
}


.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.col-big {
    flex-basis: 100%;
}



/* Header */

#navbar-head {
    height: 80px;
    background-color: white;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    padding: 20px; 
    display: flex;   
    justify-content: space-between;
    align-items: center;
}

/* Main */


#spotlight {
    height: 670px;
    background-color: #b4d0e6;
    padding-top: 50px;
    margin-bottom: 150px;
}

.front-display {
    border: gray 0.1px solid;
    padding: 10px 100px;
}

.main-display {  
    min-height: 1000px;
    border: gray 0.1px solid;
    line-height: 25px;
}

.plans {
    min-height: 400px;
}

.radio {
    height: 20px;
}

.partner {
    min-height: 500px;
}

.card {
    min-height: 300px;
}

.card-footer {
    min-height: 300px;
}

.teams {
    min-height: 300px;
}

.trial {
    min-height: 300px;
}

/* Footer */

.footer-box {
    min-height: 500px;
}

.footer-box .row {
    min-height: 100px;
    flex-basis: calc(100% / 5);
}