/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Generics */

body {
    font-family: Open-Sans, sans-serif;
}

header {
    min-height: 80px;
    background-color: #ffffff;
}

h1 {
    margin-bottom: 50px;
}


/* Utils */

.container-big {
    max-width: 1400px;
    margin: 0 auto;
}

.border {
    border: black 2px dashed;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.container-small {
    max-width: 1080px;
    margin: 0 auto;
}

.row {
    flex-basis: 50%;
    height: 100;
}

.card {
    flex-basis: calc(100% / 3);
}

.margin{
    margin-top: 80px;
}


/* Header */

.navbar-head {
    min-height: 80px;
}


.spotlight {
    min-height: 600px;
}

/* Main */

.plans {
    min-height: 400px;
}

.radio {
    height: 20px;
}

.partner {
    min-height: 500px;
}

.business-card {
    min-height: 300px;
}

.card-footer {
    min-height: 300px;
}

.teams {
    min-height: 300px;
}